In [1]:
import pandas as pd
import numpy as np

In [16]:
outside= ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside= [1,2,3,1,2,3]
hier_index=list(zip(outside, inside))
hier_index=pd.MultiIndex.from_tuples (hier_index)

In [17]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [18]:
inside

[1, 2, 3, 1, 2, 3]

In [19]:
#Zip pega duas listas como input e transforma-os numa tupla indo de elemento a elemento
hier_index=list(zip(outside, inside))

In [20]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [21]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [22]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [23]:
df = pd.DataFrame(np.random.rand(6, 2), index = hier_index, columns= ['A', 'B'])

In [24]:
#Adiciona Multiníveis aos DataFrame. Multiníveis servem para categorizar

             A         B
G1 1  0.162580  0.306213
   2  0.017962  0.659952
   3  0.070436  0.964385
G2 1  0.684672  0.212893
   2  0.027988  0.013061
   3  0.771234  0.192799

In [25]:
#Busca de coluna no DataFrame utilizando Multinível
df.loc['G1']

          A         B
1  0.162580  0.306213
2  0.017962  0.659952
3  0.070436  0.964385

In [26]:
 #Criar índices internos
df.index.names= ['Grupo', 'Numero']

In [27]:
df

                     A         B
Grupo Numero
G1    1       0.162580  0.306213
      2       0.017962  0.659952
      3       0.070436  0.964385
G2    1       0.684672  0.212893
      2       0.027988  0.013061
      3       0.771234  0.192799

In [30]:
#Para a busca de Indices Multiniveis existe também o comando "xs".Significa ""Cross Sections" puxa elementos do nível interno
df.xs(1, level ='Numero')

              A         B
Grupo
G1     0.162580  0.306213
G2     0.684672  0.212893