In [1]:
import numpy as np 
import pandas as pd

In [13]:
minha_lista = [10,20,30]
arr = np.array([10,20,30])
d =  {'a':10, 'b':20, 'c':30}

In [14]:
pd.Series(data=minha_lista, index = d)

a    10
b    20
c    30
dtype: int64

In [15]:
series =pd.Series(data=minha_lista, index = d)

In [16]:
series['b']

20

In [22]:
ser1=pd.Series([1,2,3,4], index=['EUA', 'Alemanha', 'URSS', 'Japão'])

ser1[2]

In [25]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [26]:
ser2=pd.Series([1, 2, 3, 4], index=['EUA', 'Alemanha', 'Itália', 'Japão'])

In [27]:
ser3 = ser1 + ser2

In [28]:
ser3

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64